.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}
.footer {
  text-align: center;
}
