.main {
  margin: 0 auto;
  max-width: 1200px;
}
.field > textarea {
  resize: none;
  width: 100%;
  height: 400px;
}
.control {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.footer {
  text-align: center;
}
